
<% content_for :application do %>
<style type="text/css">
.cards{
   
    padding:0;
    margin-left: 12px;
    overflow:hidden;
}
.cards li{
    list-style:none;
   
    display:block;
    float:left;
    width: 90px;
    margin-right: 12px;
    margin-bottom : 12px;
    position:relative;
}
.cards a {
    text-decoration:none;
}
.cards a .title{
    text-decoration:none;
    font-size: 10px;
    text-align: center;
    margin: 0;
    color: #333;
    line-height: 20px;
}
.card{
    box-sizing:border-box;
    width:100%;
    height: 100px;
    border:1px solid #c6e8fa;
    text-align:center;
    position:relative;
}
.card img{
    width: 86%;
    margin-top:23%;
}
.card p{
    background-color:#008fd7;
    color:#fefefe;
    font-size: 1px;
    padding:1px 4px;
    position:absolute;
    bottom: 1px;
    right: 7px;
    margin: 0;
}
.cards li .used{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(200,200,200,0.6);
    background-image: url('/assets/icon-used.png');
    background-position:center center;
    background-size:90% ;
    background-repeat:no-repeat;
}
</style>
   <div class="container">
        <div class="split"></div>
        <div class="section">
            <ul class="cards">
            <% if @orderlist%>
				<% @orderlist.each do |o| %>
				<% 
				@item = OrderItem.find_by(order_id: o.id) 
				@product = Product.find_by(id: @item.product_id)
				%>
				<li>
					<% if o.status != 4 %>
                    <a onclick="return confirm('是否确认使用？')" href="/user/use_order?oid=<%= o.id %>">
                    <% else %>
                    <a href="#">
                    <% end %>
                        <div class="card">
                            <%= image_tag @product.product_img_url, 'data-turbolinks-track' => true %>
                            <p>点击使用</p>
                        </div>
                        <p class="title"><%= @product.name %></p>
                    </a>
                    <% if o.status == 4 %>
	                    <div class="used">
	                    </div>
                    <% end %>
                </li>
				<% end %>
			<% end %>
            </ul>
        </div>
    </div>
<% end %>
