
<% content_for :application do %>
<style type="text/css">
	.orderlist{
		width: 100%;
		padding-top: 1em;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		margin-bottom: 50px;
	}
	#return{
		width: 100%;
		position: fixed;
		font-size: 20px;
		bottom:0;
	}
	.list{
	  border: 1px solid #eee;
	  border-radius: 5px;
	  line-height: 20px;
	  margin-bottom: 5px;
	  margin-left: 5px;
	  margin-right: 5px;
	  overflow: hidden;
	  padding: 5px;
	}
</style>
<div class="orderlist">
	<h1 style="text-align:center;"><i class="am-icon-check am-icon-fw"></i>我的订单</h1>
	<% if @orderlist%>

			<% @orderlist.each do |o| %>

			  <div class="list">
				<div style="overflow:hidden">
					<span style="font-size:20px;color:red;float:left"><%= o.order_point %>积分</span>
				</div>
				<div style="overflow:hidden">
					<span style="color:red;float:left">
						<% if o.status == 1 %>
						  	<font style="color:green">未发货</font>
						  	<% elsif o.status == 2 %>
						  	<font style="color:green">已发货</font>
						  	<% elsif o.status == 3 %>
						  	<font style="color:green">完成</font>
						<% end %>
					 </span>
					 <span style="color:#999;float:left;margin-left:3px;"><%= o.remarks %></span>
					 <span style="color:#999;">(<%= o.create_time.strftime("%Y-%m-%d %H:%M:%S") %>)</span>
					 <span style="color:#999;float:right;"><a href="/user/order/<%=o.id %>">订单详情</a></span>
				</div>
			</div>
			<% end %>
	<% end %>
</div>
<a type="button" href="/user/index" class="am-btn am-btn-danger" id="return">返回</a>
<% end %>
