<% content_for :application do %>
	<form action="/user/addpoint" method="post">
		<input style="display: block;line-height:30px;border:1px solid #3bb4f2;margin:10% auto 0;width: 80%;" type="text" name="code" id="code" />
		<button style="display: block;margin:20px auto;width: 80%;" type="submit" class="am-btn am-btn-secondary">输入优惠码</button>
	</form>
<% end %>