<% content_for :application do %>
<div>
	<h1 style="text-align:center;">我的积分历史</h1>
	<% if @point_ios%>
		<% @point_ios.each do |io| %>
			<div style="overflow:hidden;padding:5px;line-height:20px;border-bottom:1px solid #eee">
				<div style="overflow:hidden">
					<span style="font-size:20px;color:red;float:left;"><%= io.point %></span>
				</div>
				<div style="overflow:hidden">

					<span style="color:red;float:left">
						<% if io.status == 1 %>
					  	<font style="color:green">成功</font>
					  	<% elsif io_status == 0 %>
					  	<font style="color:red">失败</font>
					  	<% end %>
					 </span>
					 <span style="color:#999;float:left;margin-left:3px;"><%= io.remarks %></span>
					 <span style="color:#999;float:right"><%= io.operate_time.strftime("%Y-%m-%d %H:%M:%S") %></span>
				</div>
			</div>
			<% end %>
	<% end %>
</div>
<% end %>