<% content_for :application do %>
<style type="text/css">
	body{
		background-color: #eee;
	}
</style>
<div class="am-g">
  <div class="am-u-md-8 am-u-sm-centered">
    <form class="am-form" action="/panda/signin" method="post">
    	 <fieldset>
    	 	<legend>登录</legend>
	      	<div class="am-form-group divusername">
		      	<label for="loginname">用户名</label>
		        <input id="loginname" name="loginname" type="text" placeholder="请输入用户名">
	    	</div>
		    <div class="am-form-group divpass">
		    	<label for="password">密码</label>
		        <input id="password" name="password" type="password" placeholder="请输入密码">
		  	</div>
		  </fieldset>
      	<button type="submit" class="am-btn am-btn-primary ">登录</button>
    </form>
  </div>
</div>
<% end %>
