<% content_for :application do %>
<style type="text/css">

	.productslist{
		padding: 0;
	}
	.productslist li{
		border: 0;
		display: inline-block;
		list-style:none；
		padding: 3px;
		width:100%;
	}
	.productslist li a{
		display: block;
		border: 1px solid #666;
	}
	.productslist img{
		display: block;
		margin: 5px auto;
		width:95%;
	}
	.productslist span{
		display: block;
		text-align: center;
	}
	.pname{
		color:#eee;
		font-size: 120%
	}
	.pprice{
		color:#ccc;
	}
	.product{
		width: 100%;
		padding-top: 1em;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: auto;

	}
	#return{
		width: 100%;
		position: fixed;
		font-size: 20px;
		bottom:0;
	}
</style>
	<div class="product">
		<div style="width:100%;overflow:hidden;margin-bottom:45px;">
			<ul class="productslist">
				<% @products.each do |p| %>
					<li>
						<a href="/mall/product/<%=p.id %>" style="color:#333;background-color: rgba(255,255,255,0.2);">
						<table style="width:100% ">
							<tr>
								<td valign="center">
									<%= image_tag p.product_img_url, 'data-turbolinks-track' => true%>
								</td>
							</tr>
							<tr>
								<td valign="bottom">
									<span class="pname"><%=p.name %></span>
									<span class="pprice"><%=p.sales_point %>积分</span>
								</td>
						    </tr>
						</table>
							
						</a>
					</li>
				<% end %>
			</ul>
			
		</div>
		
	</div>
	<a type="button" href="/user/index" class="am-btn am-btn-danger" id="return">返回</a>
<% end %>