body{
    padding: 0;
    margin: 0;

    font-family: "Microsoft YaHei UI";
}
.split{
    background-color: #eaf6fd;
    height:15px;
}
.container{
    position: relative;
    background-image: url('/assets/background.png');
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size: 65%;
    padding-bottom: 100px;
}
.topbar{
    background-color: #fefefe;
    line-height: 50px;
    color:#172f5e;
}
.topbar .returnBtn{
    position: absolute;
    top:0;
    left:28px;
}
.topbar .returnBtn:before{
    content: "<";
    left:-14px;
    position: absolute;
    font-weight: bold;
    transform:scaleY(1.5);
}
.topbar .title{
    margin:0;
    text-align: center;
}